@import url("./react_toastify.less");
@import url("./mixins.less");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body , #root {
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
}

a {
    text-decoration: none;
    color: black;
}

/*START : LANDING HEADER*/
#landing-header {
    text-align: center;
    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 10rem;
        line-height: 0.8;
        letter-spacing: 1.5rem;
        text-indent: 1.5rem;
        transform: scale(1.2,0.7);
        @media screen {
            @media (min-width:700px){
                font-size: 12rem;
            }
    
            @media (min-width:1000px){
                font-size: 14rem;
            }
    
            @media (min-width:1200px){
                font-size: 15rem;
            }
        }
    }
    p {
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        color: rgb(184, 184, 184);
        font-size: 1.4rem;
        letter-spacing: 0.2rem;
        text-indent: 0.2rem;
        @media screen {
            @media (min-width:700px){
                letter-spacing: 0.3rem;
                text-indent: 0.3rem;
                font-size: 1.5rem;
            }
    
            @media (min-width:1000px){
                letter-spacing: 0.4rem;
                text-indent: 0.4rem;
                font-size: 1.6rem;
            }
    
            @media (min-width:1200px){
                letter-spacing: 0.4rem;
                text-indent: 0.4rem;
                font-size: 1.75rem;
            }
        }
    }
}

#landing-nav {
    margin-top: 2.5rem;
    a {
        font-size: 1.3rem;
        margin: 0 1rem;
        font-family: 'Raleway', sans-serif;
        @media screen {
            @media (min-width:700px){
                font-size: 1.5rem;
            }
    
            @media (min-width:1000px){
                font-size: 1.85rem;
            }
    
            @media (min-width:1200px){
                font-size: 2rem;
            }
        }
    }
}
/*END : LANDING HEADER*/


/*START : PAGE*/
.page-main {
    flex-grow: 1;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
/*END : PAGE*/

/*START : MAIN HEADER*/
#main-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    > a {
        line-height: 1;
        h1 {
            font-size: 3rem;
            font-family: 'Oswald', sans-serif;
            transform: scale(1.2,0.7);
        }
    }
}

#main-nav {
    a {
        margin-left: 1rem;
        font-family: 'Raleway', sans-serif;
        @media screen {
            @media (min-width:700px){
                font-size: 1.1rem;
                margin-left: 1.2rem;
            }

            @media (min-width:1000px){
                font-size: 1.2rem;
                margin-left: 1.7rem;
            }

            @media (min-width:1200px){
                font-size: 1.4rem;
                margin-left: 2rem;
            }
        }
    }
}
/*END : MAIN HEADER*/



/*START : DEMOS*/
#demo-list {
    display: grid;
    margin-top: 1rem;
    .generateMediaRulesToGrid();
}

.demo-item {
    /* background-color: white; */
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.demo-header {
    z-index: 1;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.demo-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}
/*END : DEMOS*/



/*START : DEMO DETAIL*/
.demo-main-picture {
    width: 100%;
}

.demo-main-title {
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    margin: 1rem 0;
}

.demo-main-start {
    padding: 0.5rem 1rem;
    font-family: 'Raleway', sans-serif;
    border: none;
    background-color: rgb(29, 29, 29);
    color: white;
    font-size: 1rem;
    border-radius: 3px;
    margin: 1rem 0;
}
/*END : DEMO DETAIL*/



/*START : MODAL CUSTOM STYLES*/
.budget-detail-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    padding: 20px
}

.budget-detail-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5)
}
/*END : MODAL CUSTOM STYLES*/




/*START : DEMO PAGE*/
.demo-page-header {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.demo-page-main {
    flex-grow: 1;
    width: 100%;
    padding: 1rem;
}
/*END : DEMO PAGE*/


/*START : CURSOS */
.cursos-list {
    margin-top: 1rem;
    display: grid;
    row-gap: 16px;
    .generateMediaRulesToGrid();
}

.curso-item {
    background-color: white;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.budget-form {
    form , input {
        width: 100%;
    }
    form {
        > div {
            margin: 1rem 0;
        }
    }
}
/*END : CURSOS */